body{
    background:linear-gradient(rgb(20,30,48 ), rgb(35,58,84));
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

form
{
   
    height: 370px;
    width: 430px;
    background-color: rgb(12,18,28);
    border-radius: 10px;
    color: white;
padding: 50px 40px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
form > h1 {
    text-align: center;
    margin-bottom: 50px;
}
form .material-input > input {
   color: white;
   border-color: white;
}

form.material-input > input:placeholder-shown + label {
    color: #ffffff;
}

form.material-input:first-of-type{
margin-bottom: 40px;
}
form.material-input:last-of-type{
    margin-bottom: 70px;
    }

form input[type=submit] {
    width: 100%;
    color: rgba(3,233,244);
    background-color:transparent;
    border:none;
    text-transform: uppercase;
    letter-spacing: 4px; 
cursor: pointer;
padding: 15px 30px;
margin-top: 70px;
border-radius: 25px;
transition: 0.5ms;

}
form input[type=submit]:hover{
    color: white;
    background-color:rgb(3,233,244);

}

@media screen and (max-width: 720px) {
    form {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
    }
    
}