@font-face {
    font-family: OpenSans;
    src: url('../../Fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('../../Fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
}